<div class="player-component" [ngClass]="isFullscreen? 'fullscreen':''" >
    <div class="player-main" #playerRef>
        <div class="video-container"  >
            <video class="player-display" #videoRef [style]="fullscreenDisplayStyle"  (click)="togglePlay()" 
                height="{{playerHeight}}" width="{{playerWidth}}">
                <source [src]="videoInput"  type="video/mp4">
                <!-- <source [src]="videoInput"  type="video/avi"> -->
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="player-controller" [style]="fullscreenControllerStyle" [ngClass]="{'mouseMove': isMouseMove}" >
                <div class="progress-bar">
                    <input type="range" min="0" max="{{videoDuration}}" value="{{currentTime}}" step="1" #progressRef>
                </div>
                <div class=" action-bar">
                    <div class="left-action">
                        <fa-icon class="btn-icons" (click)="togglePlay()" [icon]="isPlaying? faPause:faPlay" *ngIf="videoDuration>0"  ></fa-icon>
                        <div class="video-progress">
                            {{currentTime | timeFormat}} / {{videoDuration | timeFormat}}
                        </div>
                    </div>
                    <div class="right-action">
                        <div class="volume-controller">
                            <fa-icon class="btn-icons" (click)="toggleMute()" [icon]="!isMute? faVolumeHigh:faVolumeMute"></fa-icon>
                            <div class="volume-bar-bg">
                                <input class="volume-bar" type="range" 
                                min="0" max="1" value="1" step="0.1" #volumeRef
                                >
                            </div>
                        </div>

                        <fa-icon class="btn-icons" (click)="toggleFullscreen()"  [icon]="isFullscreen? faCompress:faExpand" ></fa-icon>
                    </div>
                </div>
        </div>
    </div>
    <div class="info">
        <p class="video-title">
            {{videoTitle}}
        </p>
        <p class="video-description" *ngIf="videoDescription">
            {{videoDescription}}
        </p>
        <ul class="video-tags">
            <li class="video-tag" *ngFor="let tag of tags" >
                <span class="tag-style">{{tag}}</span> 
            </li>
        </ul>
    </div>
    <div class="player-sub">
        <div class="sub-title">Episodes</div>
        <app-page-control [arrowDisabled]="true" [pageBoxStyle]="boxStyle" [justifyContent]="boxAlign" 
        [itemNumber]="episodes" [itemPerPage]="1" [maxPageAllowed]="episodes"
        [enableBindFunction]="true" [bindFunction]="toPage" [firstValue]="ep"
        > </app-page-control>
    </div>
</div>
