*{
    user-select: none;
}

.carousel-container{
    max-width: 100%;

    background-color: linear-gradient(rgb(82, 21, 21),rgb(255,255,255));
}


.carousel-main{
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 1px;
    max-width: 100%;

}

.carousel-display{
    /* width:400px; */
    position: relative;
}

.carousel-img{
    position: relative;
    /* height:400px; */
    /* width:100%; */
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    object-fit:cover;
    overflow:visible;
    min-width: 100%;
    min-height: 100%;
}


.carousel-img-list{
    display: flex;
    /* width:400px; */
    /* position:relative; */

}

.carousel-img-list img{
    position:relative;
    /* left: -400px; */
}

.control-btn{
    z-index: 1;
    width: 20px;
    height: 400px;
    background-color: rgba(183, 183, 183, 0.2);
    border-width: 0px;
    transition: 0.4s;
    position:absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgba(0, 0, 0, 0.3);
}

.control-btn:hover{
    background-color: rgba(0, 0, 0, 0.7);
    color: rgba(255, 255, 255, 0.9);

}

.prev-btn{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.next-btn{
    right:20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}



.carousel-sub{
    overflow: hidden;
}

.carousel-sub:hover{
    overflow-x: hidden;

}

.carousel-control{
    /* width: 400px; */

}


.carousel-text{
    position: relative;
    top:-55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-title{
    background-color:rgba(0, 0, 0, 0.3);
    color:white;
    padding: 2px 12px;
    border-radius: 15px;
    transition: 0.4s;
}

.hidden{
    visibility: hidden;
}

.carousel-title:hover{
    background-color:rgba(0, 0, 0, 0.8);
    color:white;
}

.dots{
    position:relative;
    top:-65px;
}

.dot {
    cursor: pointer;
    height: 16px;
    width: 16px;
    margin: 0 3px;
    background-color: rgba(170, 204, 204, 0.653);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
    user-select: none;
  }
  
.dot:hover {
    background-color: #717161;
  }


.carousel-thumbs{
    padding:0px;
    display: flex;
}


.carousel-thumb img{
    height:100px;
    width:100px;
    /* padding: 2px 2px; */
    transition: 0.2s;
    border: solid 1px #ffffff;
    border-radius:2px;


}

.carousel-thumb img{
    border: solid 1.5px white;


}
.carousel-thumb img:hover{
    border: solid 1.5px  #489e90ad;
}

.selected img{
    border: solid 1.5px  #489e90ad;
    background-color:#489e90ad
}

li{
    list-style: none;
}


::-webkit-scrollbar {
    width: 8px;
    height: 10px;
    background: #c5c5c5;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #c5c5c5;
    /* border-radius: 15px; */
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #489e90aa;
    border-radius: 25px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #4dc2ae;
  }


  @media only screen and (max-width: 960px){
    .carousel-container{
        /* margin:auto; */
    }

 }
 @media only screen and (max-width: 740px){
    .carousel-container{
        margin:0px;
    }
 }
